@model Tripple.Models.TrippleViewModel 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tripple</h1>
    <p>Malaysia No.1 Logistic Service Company</p>
    <p>Efficient  •  Secured  •  Trust</p>
</div>